/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

/* Initialisation css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Variables */
:root {
  --bleu: #0065fc;
  --bleu_hover: #073f94;
  --bleu_light: #deecff;
  --gray: #f2f2f2;
  --gray_grv: #ededed;
}

body {
  background-color: white;
}

/* naviagation */

nav {
  display: grid;
  grid-template-columns: 1fr repeat(3, 120px);
  align-items: center;
  text-align: center;
  height: 100px;
  width: auto;
}

nav img {
  margin-left: 40px;
  height: 39px;
  width: 100px;
  object-fit: cover;
}

.lien-1 {
  grid-area: 1/2/2/3;
}
.lien-2 {
  grid-area: 1/3/2/3;
}
.lien-3 {
  grid-area: 1/4/2/5;
}

ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

li {
  margin: 0 20px;
}

nav a {
  color: black;
  font-family: raleway;
}

nav a:hover {
  color: var(--bleu);
  padding-top: 39px;
  border-top: 2px solid var(--bleu);
}

nav a:active {
  color: var(--bleu);
  padding-top: 39px;
  border-top: 2px solid var(--bleu);
}

/* responsive Navigation et search */
@media screen and (max-width: 740px) {
  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  nav img {
    margin: auto 0px;
    justify-self: flex-start;
    padding-left: 20px;
    width: 110px;
    height: 39px;
  }
  .lien-1 {
    color: red;
    grid-area: 2/1/3/2;
    text-align: center;
    margin-top: 10px;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 10px;
  }
  .lien-2 {
    color: red;
    grid-area: 2/2/3/3;
    text-align: center;
    margin-top: 10px;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 10px;
  }
  .lien-3 {
    margin-top: auto;
    grid-area: 1/2/2/3;
    justify-self: flex-end;
    margin: auto 0px;
    align-items: center;
    padding-right: 20px;
  }

  nav a:hover {
    border: none;
  }

  .lien-2:hover {
    border-bottom: 2px solid var(--bleu);
  }
  .lien-1:hover {
    border-bottom: 2px solid var(--bleu);
  }

  .container-search {
    margin-right: 100px;
  }

  .container-search h1 {
    margin-top: 10px;
  }
}

#strong {
  color: var(--bleu);
  font-weight: 900;
}

.container-search {
  font-family: raleway;
  margin-left: 40px;
}

h1 {
  font-size: 1.25rem;
}

.container-search p {
  line-height: 30px;
  font-weight: 100;
}

.search {
  margin-top: 5px;
  margin-right: 7px;
}

input {
  position: relative;
  right: 4px;
  bottom: 1px;
  height: 44px;
  width: 190px;
  padding-left: 8px;
  font-weight: 700;
  font-size: 1rem;
  background-color: white;
  border: 1px solid var(--gray);
}
#search::placeholder {
  color: black;
}

button {
  position: relative;
  right: 8px;
  top: 0.3px;
  height: 44px;
  width: 110px;
  color: white;
  border-radius: 0px 10px 10px 0px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--bleu);
}

button:hover {
  background-color: var(--bleu_hover);
}

#localisation {
  border-radius: 10px 0px 0px 10px;
  padding: 13px;
  background-color: var(--gray);
}

.display_btn_search {
  display: none;
}
@media screen and (max-width: 480px) {
  .display_btn_txt {
    display: none;
  }
  .display_btn_search {
    display: block;
  }
  #localisation {
    padding: 12px 8px !important;
  }

  input {
    width: 240px;
  }

  button {
    left: 272px;
    top: -45px;
    width: 45px;
    border-radius: 10px;
  }

  .search {
    height: 40px;
    width: 100%;
  }
}

/* responsive pour la nav et le search  */

@media screen and (max-width: 414px) {
  nav {
    width: auto;
  }
  nav img {
    width: 110px;
  }

  .container-search {
    margin-left: 20px;
  }

  .container-search h1 {
    font-size: 1.4rem;
  }
  .container-search p {
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 100;
  }

  .container-search {
    margin-right: 70px;
  }

  .display_btn_txt {
    display: none;
  }
  .display_btn_search {
    display: block;
  }
  #localisation {
    padding-left: 8px;
    padding-right: 8px;
  }

  input {
    width: 240px;
  }

  button {
    left: 272px;
    top: -45px;
    width: 45px;
    border-radius: 10px;
  }

  .search {
    height: 40px;
    width: 100%;
  }
}

/* filtres */

.container_filtres {
  display: flex;
  align-items: center;
  font-family: raleway;
  margin-left: 40px;
  margin-top: 25px;
}

.container_filtres h2{
  font-weight: 700;
  color: #000;
  font-size: 1rem;
 
}

.container_filtres,
p {
  font-weight: 700;
}

.container_filtres,
p:hover {
  cursor: pointer;
  color: var(--bleu_hover);
}

.filtre {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border-radius: 20px;
  width: auto;
  height: 39px;
  border: solid 2px var(--gray_grv);
  color: black;
  font-weight: 600;
}

.forme {
  position: relative;
  right: 13px;
  border-radius: 50%;
  background-color: var(--bleu_light);
  color: var(--bleu);
}
.forme:hover{
  background-color: var(--bleu);
  color: white;


}
.forme,
i {
  text-align: center;
  justify-content: center;
  padding: 6px;
}
.text_filtre {
  margin-left: 0px;
  margin-right: 20px;
  font-weight: 700;
}

#ajust_filtre {
  padding-right: 12px;
  padding-left: 12px;
}

/* text avec le i  */

.container_txt {
  margin-left: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 0.9rem;
  font-family: raleway;
}

#weight {
  font-weight: 100;
}

#i {
  color: var(--bleu);
  border: solid 2px var(--gray);
  border-radius: 50%;
  padding: 2px 8px 2px 8px;
  font-weight: 600;
  margin-right: 10px;
  font-weight: 900;
}

.container_txt {
  margin-right: 15px;
  display: flex;
}

@media screen and (max-width: 740px) {
  .container_filtres {
    flex-wrap: wrap;
    width: 70%;
    margin-left: 20px;
  }
  #mr_1 {
    margin-right: 320px;
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: 900;
  }
  .filtre {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 25px;
    border: solid 3px var(--gray);
  }
}
@media screen and (max-width: 480px) {
  .container_filtres {
    margin-left: 40px;
  }
}

@media screen and (max-width: 414px) {
  .container_filtres {
    margin-right: 15px;
    width: 88%;
    margin-left: 15px;
  }

  .container_txt {
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .container_txt p {
    font-size: 0.9rem;
    width: 100%;
    padding-right: 15px;
  }
  #i {
    margin-right: 10px;
    margin-left: 10px;
  }
}

/* Container qui contienent les annonces */

.container {
  display: flex;
  margin: 0px 40px 0px 40px;
  font-family: raleway;
}

@media screen and (max-width: 870px) {
  /* container qui contient les deux container */

  .container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0px 40px 0px 40px;
  }

  /* container les plus populaire */

  .container_populaire {
    margin: 0px auto 30px;
  }
}

/* Container qui contient les hébérgements de marseille */

.container_hebergements {
  height: 560px;
  width: 100%;
  margin-right: 40px;
  border-radius: 10px;
  background-color: var(--gray);
  padding: 10px 0px 0px 0px;
}

.container_contain {
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  height: 90%;
  width: 90%;
}
.container_container_hebergement {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.contain_hebergement {
  width: 31%;
  height: 180px;
  border-radius: 10px;
  margin-top: 18px;
  background-color: white;
  padding: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.contain_hebergement p {
  margin-left: 7px;
}
h2 {
  font-size: 1.25rem;
  font-weight: 800;
}
.mr {
  margin-right: 20px;
}
.containe_element_hebergement {
  height: 60%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  justify-content: center;
  align-items: center;
}
.containe_element_hebergement img {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100px;
}

.containe_element_hebergement,
p {
  font-weight: 100;
  font-size: 0.75em;
  color: #000;
}

.contain_hebergement h3{
  color: #000;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: .9rem;
  margin-left: 5px;
}

.containe_stars {
  display: flex;
}
.fa-star {
  margin-top: 2px;
  color: var(--bleu);
  font-size: 0.75rem;
  margin-right: -10px;
}
.fa-star--desactive {
  color: var(--gray);
}

#mt_2 {
  margin-top: 25px;
  font-weight: 900;
  font-size: 1rem;
  width: 100%;
  text-align: start;
}
@media screen and (max-width: 1214px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container_hebergements {
    width: auto;
    height: auto;
    margin-right: 0px;
  }
  .contain_hebergement {
    width: 300px;
    margin-left: 10px;
  }
  .container_container_hebergement {
    justify-content: center;
  }
  .container_populaire {
    margin-top: 30px;
    width: auto !important;
    height: auto !important;
  }

  .container_contain_populaire {
    display: flex;
    flex-wrap: wrap;
  }
  .contain_populaire {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  #mt_2 {
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  .contain_hebergement {
    width: 370px;
  }

  #mt2 {
    margin-bottom: 100px;
    text-align: center;
  }
  .mr {
    margin-right: 0px;
  }
}

@media screen and (max-width: 740px) {
  .contain_hebergement {
    width: 400px;
  }
  #mt_2 {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .container {
    flex-direction: column-reverse !important;
    margin-left: 0px;
    margin-right: 0px;
  }
  .container_hebergements {
    width: 100%;
    height: auto;
    background: white;
  }
  .container_container_hebergement {
    justify-content: start;
  }
  .contain_hebergement {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .container_contain h2 {
    font-size: 1.5rem;
  }

  #mt_2 {
    font-size: 1.35rem;
    margin-bottom: 30px;
    text-align: start;
    font-weight: 900;
  }

  .mr {
    margin-right: 0px;
  }
  .contain_hebergement h3{
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 1.1rem;

  }
  #mt-3 {
  }
}

/* Container qui contient les hébérgements les plus populaires */

.container_populaire {
  height: 560px;
  width: 430px;
  border-radius: 10px;
  background-color: var(--gray);
  padding: 26px 15px 15px;
}
.container_contain_populaire {
  width: 100%;
  height: 100%;
}
.title_populaire {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-chart-line {
  font-size: 1.5rem;
}
.contain_populaire {
  display: flex;
  background-color: white;
  width: 340px;
  height: 130px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px auto 30px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.img_populaire {
  border-radius: 8px 0px 0px 8px;
  height: 100%;
  width: 35%;
}
.img_populaire img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.contain_contenu_populaire {
  padding: 10px 0px 0px 10px;
  width: 160px;
  height: 100%;
}

h3 {
  margin-left: 0px;
  font-size: 1rem;
}

.contain_contenu_populaire p {
  font-weight: 100;
  margin: 4px 0px 25px 0px;
}

.contain_contenu_populaire .fa-star {
  padding: 0px;
  margin-right: -4px;
}


@media screen and (max-width: 1200px) {
  .title_populaire {
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .container_populaire {
    border-radius: 0px;
    width: 100% !important;
    margin-bottom: 10px;
  }
  .title_populaire {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
  }

  .title_populaire h2 {
    font-size: 1.4rem;
  }
  .contain_populaire {
    margin-bottom: 5px;
  }
}

/* Acitivités à Marseilles */

.container_activity {
  width: 100%;
  padding: 0px 40px;
  font-family: raleway;
}

.container_activity h2 {
  margin-top: 40px;
  font-size: 1rem;
}
.container_activity h3 {
  font-size: .75rem;
}


.card_txt {
  padding: 15px 0px 10px 15px;
  margin: auto 0px auto 0px;
}


.container_contain_activity {
  height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2.5vw;
  grid-row-gap: 2rem;
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.card_img_xl {
  border-radius: 10px 10px 0px 0px;
  height: 27rem;
}
.card_img_xl img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.card_img_md {
  border-radius: 10px 10px 0px 0px;
  height: 13rem;
}
.card_img_md img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.card_img_mlt {
  border-radius: 10px 10px 0px 0px;
  height: 8rem;
}
.card_img_mlt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.card_img_lt {
  border-radius: 10px 10px 0px 0px;
  height: 11rem;
}
.card_img_lt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.card_img_lt-2 {
  border-radius: 10px 10px 0px 0px;
  height: 10rem;
}
.card_img_lt-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.bloc_card_1 {
  grid-area: 1 / 1 / 4 / 2;
}
.bloc_card_2 {
  grid-area: 1 / 2 / 3 / 3;
}
.bloc_card_3 {
  grid-area: 3 / 2 / 4 / 3;
}
.bloc_card_4 {
  grid-area: 1 / 3 / 4 / 4;
}
.bloc_card_5 {
  grid-area: 1 / 4 / 2 / 5;
}
.bloc_card_6 {
  grid-area: 2 / 4 / 4 / 5;
}

/* Responsive partie activité Marseille */

@media screen and (max-width: 740px) {
  .container_contain_activity {
    grid-template-rows: repeat(3, 1fr);
  }

  .card_img_xl {
    height: 120px;
  }

  .card_img_md {
    height: 120px;
  }
  .card_img_mlt {
    height: 120px;
  }
  .card_img_lt {
    height: 120px;
  }
  .card_img_lt-2 {
    height: 120px;
  }

  .bloc_card_1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .bloc_card_2 {
    grid-area: 2 / 1 / 3 / 3;
    height: 100%;
  }
  .bloc_card_3 {
    grid-area: 3 / 1 / 4 / 3;
    height: 100%;
    margin-top: 0px;
  }
  .bloc_card_4 {
    grid-area: 1 / 3 / 2 / 5;
  }
  .bloc_card_5 {
    grid-area: 2 / 3 / 3/ 5;
  }
  .bloc_card_6 {
    grid-area: 3 / 3 / 4 / 5;
  }
}
@media screen and (max-width: 480px) {
  .container_activity {
    height: 500px;
  }
}

@media screen and (max-width: 414px) {
  .container_activity {
    height: 100%;
    padding: 0px 32px;
  }

  .container_contain_activity {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .container_activity h2 {
    font-size: 1.5rem;
    margin-bottom: 35px;
  }

  .card_txt {
    height: 45px;
    padding-top: 14px;
  }

  .card_img_xl {
    height: 120px;
  }

  .card_img_md {
    height: 100px;
  }
  .card_img_mlt {
    height: 100px;
  }
  .card_img_lt {
    height: 100px;
  }
  .card_img_lt-2 {
    height: 100px;
  }
}

/* FOOTER */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 200px;
  padding-left: 40px;
  padding-top: 40px;
  background-color: var(--gray);
  margin-top: 220px;
  font-family: raleway;
}

footer h2{
  font-size: 1.1rem;
}

footer a {
  color: black;
  margin-top: 10px;
}

.propos {
  display: flex;
  flex-direction: column;
}

.hebergemement {
  display: flex;
  flex-direction: column;
}

.assistance {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
    footer {
      margin-top: 180px;
    }
  }
  
@media screen and (max-width: 740px) {
  footer {
    font-size: 0.9rem;
    margin-top: 270px;
  }
}

@media screen and (max-width: 514px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 30px;
    margin-top: 130px !important;
  }
  .hebergemement {
    margin: 30px 0px;
  }
}
@media screen and (max-width: 400px) {
    footer {
        margin-top: 40px !important;
      }
      
}

